---
---

@import "{{ site.theme }}";

// Add your custom styles here
header{
  display: none;
}
section{
  width: 1000px;
}
footer{
  position: relative;
}
.wrapper{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}